body {
  background-color: #94b0be;
  height: 100%;
  margin: 0;
}

@import url("https://fonts.googleapis.com/css?family=Ubuntu+Condensed");
.menu-main {
  list-style: none;
  margin: 0;
  padding: 25px 0 5px;
  text-align: center;
  background: #414646;
}
.menu {
  position: sticky;
  top: 0;
  min-height: 2em;
}
.menu-main li {
  display: inline-block;
}
.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align: top;
}
.menu-main li:last-child:after {
  content: none;
}
.menu-main a {
  text-decoration: none;
  font-family: "Ubuntu Condensed", sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color 0.2s;
}
.menu-main a,
.menu-main a:visited {
  color: #9d999d;
}
.menu-main a.current,
.menu-main a:hover {
  color: #94b0b0;
}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #94b0b0;
  transition: 0.8s;
}
.menu-main a:hover:before,
.menu-main .current:before {
  left: 0;
}
.menu-main a:hover:after,
.menu-main .current:after {
  right: 0;
}
@media (max-width: 550px) {
  .menu-main {
    padding-top: 0;
  }
  .menu-main li {
    display: block;
  }
  .menu-main li:after {
    content: none;
  }
  .menu-main a {
    padding: 25px 0 20px;
    margin: 0 30px;
  }
}

.note-1 {
  width: 20%;
  background: white;
  padding: 7px;
  margin: 10px;
  margin-top: 20px;
  margin-left: 30px;
  display: inline-block;
  font-size: 15px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.note-1:hover {
  box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}
.image:hover {
  transform: scale(1.1);
}
.image {
  width: 80%;
  display: block;
  margin: auto;
  padding: 9px;
}
.card__add {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  color: #768e8e;
  padding: 10px;
  text-align: center;
  border: 1px solid #768e8e;
  border-radius: 4px;
  cursor: pointer; /* Меняем курсор при наведении */
  transition: 0.2s;
  margin-top: auto; /* Прижимаем кнопку к низу карточки */
}
.card__add:hover {
  border: 1px solid #595e5e33;
  background-color: #595e5e;
  color: #fff;
}

/*slider*/
.carousel {
  margin: 0 auto;
  position: relative;
  width: 40%;
  height: 40%;
  margin-right: 100%;
  float: left; /* Выравнивание по левому краю */
  margin: 15px 15px 15px 0; /* Отступы вокруг картинки */
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}
.carousel .carousel-indicators {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 15;
  display: flex;
  justify-content: center;
  padding: 10px;
  list-style: none;
}

.carousel .carousel-window {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.carousel .carousel-slides {
  height: 100%;
  display: flex;
  transition: transform 0.5s;
}
.carousel .carousel-item {
  height: 100%;
}
.carousel .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel .carousel-prev,
.carousel .carousel-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  color: #fff;
  opacity: 0.7;
  text-align: center;
  font-size: 40px;
  text-decoration: none;
}
.carousel .carousel-prev:hover,
.carousel .carousel-next:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
.carousel .carousel-prev {
  left: 0;
}
.carousel .carousel-next {
  right: 0;
}
.zag {
  background-color: #fff;
  margin-left: 15px;
  display: inline-block;
  margin-top: 15px;
  height: 65%;
  width: 55%;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}
.name {
  color: #9d999d;
  font-size: 30px;
  padding: 10px;
}
li {
  list-style-type: none; /* Убираем маркеры */
}
.category {
  font-size: 20px;
}
.column {
  display: inline-block;
}
.bot-info {
  width: 100%;
  margin-bottom: -50px;
  background: #595e5e;
  border-radius: 4px;
}
.bot-text {
  width: 20%;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  padding: 7px;
  margin-top: 150px;
  color: #7d8e8e;
}
.buy {
  display: block;
  width: 99%;
  font-weight: 400;
  font-size: 17px;
  color: #768e8e;
  padding: 10px;
  text-align: center;
  border: 1px solid #768e8e;
  border-radius: 4px;
  cursor: pointer; /* Меняем курсор при наведении */
  transition: 0.2s;
  margin-top: 50px;
  margin-left: 4px;
}
.buy:hover {
  border: 1px solid #595e5e33;
  background-color: #595e5e;
  color: #fff;
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #4b5050;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.icon {
  width: 3%;
  height: 3%;
}
